<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nahid.bangabandhusheikhmujiburrahman">

    <application
        android:allowBackup="true"
        android:icon="@drawable/iconnn"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".Home" />
        <activity android:name=".Child" />
        <activity android:name=".Education" />
        <activity android:name=".Politics" />
        <activity android:name=".Indenpents" />
        <activity android:name=".nahid" />
        <activity
            android:name=".New"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Me"></activity>
    </application>

</manifest>